---
import Layout from '../layouts/Layout.astro';
---

<head>
</head>

<Layout title="RRHS Hack Club">
<main style="background-color: var(--dark);">
	<div style="text-align: center; padding-top: var(--spacing-5); background-color: var(--darkless); padding-bottom: var(--spacing-5);">
		<h1 class="title" style="color: var(--primary)">RRHS Hack Club</h1>
	</div>

	<div class="container" style="color: var(--white)">
		<p class="subtitle" style="color: var(--white)">welcome to the rrhs hack club site!</p>
		<p class="subtitle" style="color: var(--instagram)">instagram</p>
	</div>
</main>
</Layout>

<style>
</style>